#hongbo{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

#hallaSM{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(47, 47, 47);
}

#hawn{
    width: 100%;
}

#hh{
    margin-top: 0px;
    margin-bottom: 10px;
}
